.container-fixed-table {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: 1280px;
    width: 100%;
}

.swal-icon-resize .swal2-icon.swal2-warning {
    width: 50px !important;
    height: 50px !important;
}

.swal-icon-resize {
    background-color: blue !important;
}

.toast {
    visibility: hidden;             /* Hidden by default */
    min-width: 250px;               /* Set a minimum width */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    color: #fff;                    /* White text color */
    text-align: center;             /* Centered text */
    border-radius: 4px;             /* Rounded corners */
    padding: 16px;                  /* Some padding */
    position: fixed;                /* Sit on top of the screen */
    z-index: 9999;                  /* Make sure it stays on top */
    right: 20px;                    /* Position from the right */
    bottom: 20px;                   /* Position from the bottom */
    font-size: 14px;
    opacity: 0;                     /* Initial opacity */
    transition: opacity 0.5s ease-in-out; /* Fade in/out effect */
}

.toast.show {
    visibility: visible;
    opacity: 1;
}
